/* This @font-face block defines the "Vazir" font family and its different weights.
   The "src" property specifies the paths to the font files in WOFF and WOFF2 formats.
   Each @font-face block sets a different "font-weight" value for the font,
   ranging from 100 (thin) to 900 (black), with 400 being the default (regular).
   These font weights are used to create different variations of the "Vazir" font family. */

@font-face {
  font-family: 'Vazir';
  src: url('/path/to/Vazir-Thin.woff2') format('woff2'),
       url('/path/to/Vazir-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('/path/to/Vazir-Light.woff2') format('woff2'),
       url('/path/to/Vazir-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('/path/to/Vazir.woff2') format('woff2'),
       url('/path/to/Vazir.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('/path/to/Vazir-Medium.woff2') format('woff2'),
       url('/path/to/Vazir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('/path/to/Vazir-Bold.woff2') format('woff2'),
       url('/path/to/Vazir-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('/path/to/Vazir-Black.woff2') format('woff2'),
       url('/path/to/Vazir-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}



/* Apply Vazir font to all elements */
* {
  font-family: 'Vazir', sans-serif;
}

/* Change numbers to Persian */
body {
  unicode-bidi: plaintext;
}
 
body * {
  unicode-bidi: embed;
  font-size: 1.2rem; /* Set font size after changing the numbers */
}
 
body [dir="ltr"] {
  unicode-bidi: bidi-override;
}

/* Change input placeholder font */
input::placeholder {
  font-family: 'Vazir', sans-serif;
}

